@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">¡Bienvenido a la Clínica!</h1>
    <p class="lead text-muted">Estamos aquí para brindarte el mejor cuidado. Administra pacientes, citas y mucho más desde aquí.</p>
    
</div>
